main{
  background-color: rgb(67, 31, 100);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 70%;
  height: 72%;
  background-color: #fff;
  border-radius: 10px;
  padding:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  margin:15px;
}
.question{
  border:2px solid #ddd;
  border-radius: 10px;
  padding:0.8rem 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:700px;
  height: 100px;
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);;
}
.title{
  margin-right:15px;
}
.icon{
  paddiing:10px;
}